.games-page-popular {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 30px 0;
    }

    &__title {
        margin: 0;
    }

    &__filters {
        margin: 30px 0;

        .ant-select {
            margin-right: 20px;

            &::last-child {
                margin-right: 0;
            }
        }
    }

    &__list {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        // grid-auto-rows: 100px;
        gap: 30px;
    }
}
