.games-page {
    position: relative;

    &__heading {
        margin: 30px 0;
    }

    &__title {
        margin: 0;
    }
}

.gp-popular {
    margin: 30px 0;

    &__heading {
        margin: 0 0 30px 0;
    }

    &__title {
        margin: 0;
    }

    &__list {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
    }
}

.gp-popular,
.gp-new {
    margin: 30px 0;

    &__heading {
        margin: 0 0 30px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
    }

    &__next-link {
        display: block;
    }

    &__list {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
    }
}
