.gp-genres {
    margin: 30px 0;

    &__heading {
        margin: 0 0 30px 0;
    }

    &__title {
        margin: 0;
    }

    &__list {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
    }
}

.gp-genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 120px;
    border-radius: 4px;
    background-color: #eee;
    background-color: #ddd;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

    transition: background-color 0.4s;

    &:hover {
        background-color: #d1d1d1;
    }

    &__title {
        margin-top: 8px;
        color: #000;

        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        width: 100%;
        text-align: center;
    }
}
