.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;

    &-wrapper {
        display: inline-flex;
        position: relative;
    }
}
