.games-collection {
    padding: 24px 0;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 30px 0;
    }

    &__title {
        margin: 0;

        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
    }

    &__link-to-full-collection {
        display: block;
        opacity: 0;
        transition: opacity 80ms;
    }

    &:hover {
        .games-collection {
            &__link-to-full-collection {
                opacity: 1;
            }
        }
    }

    .game-card {
        padding-right: 28px;
    }
}

.slick-list {
    // margin-right: -20px !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: -12px !important;
    padding-top: 12px !important;
}
