.articles-page {
    position: relative;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
    }

    &__title {
        margin: 0;
    }

    &__filters {
        width: 150px;
    }

    &__list {
        margin: 0 0 30px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
