.news-single-page {
    position: relative;

    &__heading {
        margin: 30px 0;
    }

    &__title {
        margin: 0 0 30px 0;
    }

    &__date-title {
        color: gray;
    }

    &__author {
        color: gray;
    }

    &__body {
    }
}

.author {
    display: flex;
    align-items: center;
    &__image {
    }

    &__body {
        margin-left: 1rem;
    }
}
