.game-page {
    position: relative;
    background-color: #f1f1f1;

    &__banner {
        height: calc(100vw / 6.2 - 1px);
        background-color: #f1f1f1;
    }

    &__game {
        background-color: #f9f9f9;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__title {
        margin: 0;
    }
}

.tabs {
    position: relative;

    &::before {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
    }

    &__nav {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        align-items: center;
    }

    &__tab {
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }

        &-link {
            position: relative;
            padding: 12px 0;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #606060;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                color: #030303;
            }

            &.active,
            &:active {
                color: #030303;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 3px;
                    background-color: #606060;
                }
            }
        }
    }
}

.gp-banner {
    overflow: hidden;
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.gp-videos,
.gp-screenshots,
.gp-news,
.gp-articles {
    margin: 30px 0;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__next-link {
        position: relative;
        display: block;
        padding-right: 20px;
        font-weight: bold;
        text-align: right;

        > span {
            display: block;
            font-weight: 300;
            font-size: 0.8em;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

            margin-left: 5px;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);

            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -4px;
        }
    }

    &__title {
        margin: 0;
    }

    &__list {
        margin: 30px 0 0 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
}

.gp-videos {
    &__video {
        height: 160px;
        background-color: #eee;
    }
}

.gp-screenshots {
    &__screenshot {
        height: 160px;
        background-color: #eee;
    }
}

.gp-news {
    &__news {
        height: 160px;
        background-color: #eee;
    }
}

.gp-articles {
    &__article {
        height: 160px;
        background-color: #eee;
    }
}
