.gc-skeleton {
    &__thumbnail {
        height: 290px;
        background-color: #f7f7f7;
        border-radius: 4px;
    }

    &__content {
        margin-top: 8px;
    }

    &__title {
        height: 15px;
        background-color: #f7f7f7;
    }

    &__developer {
        width: 70%;
        height: 10px;
        margin-top: 5px;
        background-color: #f7f7f7;
    }
}
