.news-card {
    display: inline-block;
    width: 25%;

    &__image {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 60%;
        background-color: #ddd;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        margin-top: 10px;
    }

    &__title {
        margin: 0;
        font-size: 16px;
    }

    &__date-time {
        margin: 5px 0 0 0;
    }
}

.collection .news-card {
    padding: 0 12px;
}
